{% extends "layout/base.html"%}
{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nemo aliquid deserunt velit adipisci excepturi! Aut doloremque asperiores exercitationem eos, nobis veritatis iste accusamus aspernatur quas repellendus recusandae tempore dolorum provident fugiat architecto eligendi. Quae amet et vitae magni quam. Nemo corporis necessitatibus, perspiciatis ad, porro numquam deserunt ab quidem deleniti quas ratione fugiat dicta sint, accusantium dolor in itaque esse consequuntur ut neque minima. Nostrum reprehenderit quibusdam hic temporibus commodi voluptates numquam labore officia quis, iste cumque iusto molestias expedita vero, neque qui consequatur! Dolorum eaque quo beatae ipsum architecto, neque et distinctio aut porro quam vero voluptatibus tempore.</p>
<!-- doble corchete por ser una variable-->
<p>Website created by {{username}}</p>

{% endblock %}